{{ this.beginPage() }}
<!doctype html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ html.csrfMetaTags() | raw }}
    <title>{{ html.encode(this.title) ?: 'Wiki Pinky' }}</title>
    {{ this.head() }}
</head>
<body>
    {{ this.beginBody() }}
        <div class="wrap">
            {% include 'partials/navbar.twig' %}

            <div class="container">
                <div class="site-index">
                    <div class="row">
                        <div class="col-sm-3">
                            <h1>Wiki Mail.ru</h1>
                            <p class="lead">Welcome my brother!</p>
                        </div>

                        <div class="body-content col-sm-9">
                            {{ content | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ this.endBody() }}
</body>
</html>
{{ this.endPage() }}